<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Configurações da Conexão -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/projetologmil</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">honey</property>

        <!-- Outras Configurações -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hbm2ddl.auto">update</property>

        <!-- Mapeamentos das Entidades -->
        <mapping class="br.edu.ifpr.bsi.projetologmil.model.ItemLogistico"/>
        <mapping class="br.edu.ifpr.bsi.projetologmil.model.Movimentacao"/>
        <mapping class="br.edu.ifpr.bsi.projetologmil.model.UnidadeMilitar"/>
        <mapping class="br.edu.ifpr.bsi.projetologmil.model.Usuario"/>
        <mapping class="br.edu.ifpr.bsi.projetologmil.model.Fornecedor"/>
    </session-factory>
</hibernate-configuration>
